:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(232, 232, 232);

  font-family: "Raleway";
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#app {
  width: 1347px;
  margin: 0 auto;
  padding: 3rem;

  text-align: center;
}

.vue-slider-dot-handle {
  position: relative !important;

  box-sizing: border-box !important;
  width: 20px !important;
  height: 20px !important;

  border: 5px solid rgba(92, 173, 234, 1) !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0px 3px 5px 0px rgba(31, 85, 132, 0.2) !important;

  cursor: pointer !important;
}

.vue-slider-dot-handle::after {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;

  width: 10px !important;
  height: 10px !important;

  border-radius: 50% !important;

  transform: translate(-50%, -50%) !important;

  content: "" !important;
}

.vue-slider-ltr .vue-slider-mark-label {
  margin-top: 15px !important;
}
